/* CheckoutSummary.css */

.checkout-summary-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.products-column {
  flex: 3;
  max-width: 700px;
  margin-top: 90px;
  border-radius: 6px;
}
.products-column h2{
  margin-left: 20px;
  padding:10px;
}

.summary-column {
  flex: 1;
  max-width: 400px;
  height: 300px;
  margin-top:90px;
  padding:20px;
}
.summary-column h2{
  margin-left: 20px;
  margin-bottom: 20px;  
}
.checkout-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}
.checkout-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.item-details {
  flex: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid #858484;
  border-radius: 6px;
  margin: 0 10px;
  padding: 1px 8px;
}

.quantity-button {
  padding: 2px;
  background-color: #fff;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
}

.remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
}
.remove-button:hover{
  background-color: #af3027;
}
.summary-details {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-label {
  font-weight: bold;
}

.summary-value {
  font-size: 16px;
}

.total-row {
  font-size: 18px;
  font-weight: bold;
}

.continue-button {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #00a650;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

.continue-button:hover {
  background-color: #008f46;
}

.no-items {
  text-align: start;
  margin-top: 20px;
  font-size: 22px;
  color: #f70404;
  border-radius: 6px;
}

.back-to-products {
  display: block;
  width: 300px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  background-color: #007bff;
  padding: 10px;
  color:#fff;
  border-radius: 6px;
}

.back-to-products:hover {
  background-color: #03468d;
}
